<app-header></app-header>

<div class="all-silder">
  <div id="mainpage-slider" class="carousel slide" data-ride="carousel">
    <div class="download-here">
      <a href="https://play.google.com/store/apps/details?id=com.brainplow.notesgiene" target="_blank"> <img
          src="../../../assets/img/Adroid-Badge.png"> </a>
      <a href="https://itunes.apple.com/us/app/cramfrenzy/id1365621608?mt=8" target="_blank"> <img
          src="../../../assets/img/IOS-Badge.png"> </a>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <label class="slider__title animated fadeInDown"> CramFrenzy is a next generation Artificially Intelligent
          Auction Marketplace to connect Instructors, Tutors and Students together for a Super-Fast Ultra-Cool worldwide
          learning experience </label> <img src="../../../assets/img/home-slider/1.png" alt=""> </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInUp"> Propel your Learning to a whole new dimension! BUY, SELL, RENT &
          BID on Notes, Books, Courses, Flash Cards & whole lot more with CramFrenzy’s bleeding edge AI. </label> <img
          src="../../../assets/img/home-slider/2.png" alt=""> </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInDown"> Tutor, Learn & Earn with CramFrenzy on the Web, In the Cloud &
          on Mobile. The next generation Online Cram Universe! </label> <img src="../../../assets/img/home-slider/3.png"
          alt=""> </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInDown"> Notes, Books, Flash Cards, Courses & a whole lot more can be
          Sold, Bought, Rented or Bid on CramFrenzy through a true Auction experience. </label> <img
          src="../../../assets/img/home-slider/4.png" alt="" /> </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInDown"> CramFrenzy is a next generation Artificially Intelligent
          Marketplace to connect Instructors, Tutors & Students together for a Super-Fast Ultra-Cool Worldwide Learning
          Experience! </label> <img src="../../../assets/img/home-slider/5.png" alt=""> </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInDown"> Experience our next generation Artificially Intelligent Mobile
          App on Google Play Store and Apple App Store. </label> <img src="../../../assets/img/home-slider/6.png"
          alt=""> </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInDown"> Become a Tutor on CramFrenzy & Showcase your Expertise! Your
          Educational Material can be SOLD, BOUGHT, RENTED OR BID on through an Auction Experience! </label> <img
          src="../../../assets/img/home-slider/7.png" alt=""> </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInDown"> From Bidding to Price Comparison to Reviews
          Aggregation/Crunching & a Custom CramFrenzy Score of every Buyer, Seller and Product, CramFrenzy elevates your
          Learning Experience to a whole new level. </label> <img src="../../../assets/img/home-slider/8.png" alt="">
      </div>
      <div class="carousel-item">
        <label class="slider__title animated fadeInDown"> Give Your Learning Wings! CramFrenzy has a 360-Degree Spectrum
          of Educational Material for all kinds and categories. BUY, SELL, RENT & BID Now! </label> <img
          src="../../../assets/img/home-slider/9.jpg" alt=""> </div>
    </div>
    <a class="carousel-control-prev" href="#mainpage-slider" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mainpage-slider" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="main-nav-slider">
    <form class="search-bg">
      <input class="search-bg__text search-bg__text-placeholder" type="text" name="search-bg-name"
        placeholder="Search CramFrenzy"> <a class="search-bg__btn btn-search" type="button">Search</a>
      <a class="search-bg__btn btn-icon-search"> <i class="fas fa-search"></i> </a>
    </form>
  </div>
</div>
<div class="text-center how-it-works-boxs">
  <div class="container">
    <h1 class="component-title mb-2">How it Works?</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box"> <span class="glyphicon glyphicon-pencil"></span>
          <h3>1. Signup on CramFrenzy</h3>
          <p> Signup on CramFrenzy is super easy and takes less than a few minutes on Web or Mobile: Download our next
            generation Artificially Intelligent App on Google Play Store or Apple App Store. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box"> <span class="glyphicon glyphicon-book"></span>
          <h3>2. Browse Online Course Library</h3>
          <p> With Price Comparison to Reviews Aggregation/Crunching and a Custom CramFrenzy Score of every Seller,
            Buyer and Product, find the desired educational material for you: The right ones! </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box"> <span class="glyphicon glyphicon-ok"></span>
          <h3>3. BID, BUY or RENT</h3>
          <p> BID on Books, Notes, Flash Cards, Courses & a whole lot more through a true Auction Experience OR simply
            RENT/BUY them. It’s that simple! </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="how-it-works-box"> <span class="glyphicon glyphicon-ok"></span>
          <h3>4. Give your Learning Wings</h3>
          <p> Take your learning to a whole new level with CramFrenzy’s Ultra-Cool, Super- Fast Web & Mobile App
            Experience. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>